@{ ViewData["Title"] = "Şifremi unuttum onay"; }


@if (TempData.Peek("ErrorMessage") != null)
{
    <strong>
        @TempData.Peek("ErrorMessage").ToString()
    </strong>
}
else
{
    <p>
        Şifrenizi sıfırlamak için mailinizi kontrol ediniz.
    </p>
}

