@model GaripSozluk.Common.ViewModels.PostViewModel


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPost" asp-controller="Post"  method="post">
            <input type="hidden" name="addPostId" value="@ViewBag.catagoryIdSelectItem"/> 
            <h4>Başlık Ekle.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label col-md-2"></label>
                <select asp-for="Id" class="form-control col-md-4" asp-items="ViewBag.queryCategoryTwo">
                </select>

            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Kaydet</button>
        </form>
    </div>
</div>
