@model GaripSozluk.Common.ViewModels.DetailedSearchViewModel

@{ ViewData["Title"] = "DetailedSearch"; }

<h1>DetailedSearch</h1>

<h4>DetailedSearchViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DetailedSearch" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOne" class="control-label"></label>
                <input asp-for="DateOne" class="form-control" />
                <span asp-validation-for="DateOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTwo" class="control-label"></label>
                <input asp-for="DateTwo" class="form-control" />
                <span asp-validation-for="DateTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="SortType">
                    <option value="1">Yeniden Eskiye</option>
                    <option value="2">Eskiden Yeniye</option>
                </select>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Mükemmel Ara</button>
            </div>
        </form>
    </div>
</div>

@if (Model != null)
{
@foreach (var item in Model.DetailedSearchPostResults)
{
<a class="btn btn-light d-flex justify-content-between align-items-center" asp-route-postCategoryId="@ViewBag.postCategoryId" asp-controller="home" asp-action="index" asp-route-Id="@item.Id">
    @item.Title
</a>}}
