@model List<GaripSozluk.Data.Domain.Post>
@{
    ViewData["Title"] = "GetPosts";
    Layout = null;
}

<div class="row">
    <div class="group col-md-2 border" id="postListByCategory" style="overflow:auto;height:100%; position:fixed;">
        <br />
        <ul class="list-group">

            <h1 class="display-6">@ViewBag.querySelectedCategory.Title</h1>
            @foreach (var item in Model)
            {
                <li class="list-group-item border-0">
                    <a class="btn btn-light d-flex justify-content-between align-items-center" asp-controller="Home" asp-action="Index" asp-route-post="@item.NormalizedTitle">
                        @item.Title
                        @{
                            var entryCount = (item.Entries?.Count - 1 ?? 0);
                            if (entryCount > 0)
                            {
                                <span class="badge badge-primary badge-pill">@entryCount</span>
                            }
                        }
                    </a>
                </li>
            }

        </ul>
    </div>
</div>