@model GaripSozluk.Common.ViewModels.EntryViewModel


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Başlık Ekle.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Kaydet</button>
        </form>
    </div>
</div>
